---
import Button from '../components/do-this-instead.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout name="ming">
  <h1 class="text-3xl font-bold underline">
    Hello Tailwind + Astro
  </h1>
  <Button>Click Me</Button>
</BaseLayout>

