---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Button } from "@/components/ui/button"
---
<BaseLayout name="ming">
  <Button>Click Me</Button>
  <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
</BaseLayout>

