---
import { ViewTransitions } from 'astro:transitions'
import '@/styles/globals.css'
const { name } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
	   	<ViewTransitions />
	</head>
	<body>
	<div class="grid place-items-center h-screen content-center">
        <p>Hello {name}!</p>
		<slot />
	</div>
	</body>
</html>